* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  background: #FEFF24;
}

h1 {
  font-size: 4rem;
}

.display {
  font-size: 2rem;
  color: #FF1BB0;
}

.board {
  font-size: 6rem;
  width: 350px;
  height: 350px;
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

ul {
  list-style: none;
}

li {
  border: 2px solid green;
  cursor: pointer;
}

.top {
  border-top: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

button {
  box-sizing: content-box;
  background: #764B92;
  color: white;
  border: none;
  width: 110px;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.modal {
  background: white;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}